.form {
    height: 3vw;
    width: 35vw;
}

input {
    height: 100%;
    width: 100%;
    font-size: 1.5vw;
    background-image: url('../../assets/sumbit.png');
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;
    outline: none;
    border: 1px solid #cbd5e1;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.5vw 1vw;
    background-color: #ffffff;
}

input:hover {
    border-color: #000;
}

input:focus {
    border-color: #000;
    background-color: #f7f7f7;
}